#header {
  display: flex;
  align-items: center;
  margin-top: 12px;
  justify-content: space-between;
}
#menu {
  display: flex;
  gap: 60px;
}
#menu a {
  display: block;
}
#btn-mobile {
  display: none;
}
.menu-active {
  overflow: hidden;
}

.menu-active::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
@media (max-width: 1100px) {
  #header .botao {
    display: none;
  }
}

@media (max-width: 850px) {
  #btn-mobile {
    display: block;
  }
  #menu {
    display: block;
    position: absolute;
    width: 60%;
    top: 0px;
    right: 0px;
    text-align: right;
    background-color: #e7e7e7;
    height: 0px;
    transition: 0.5s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    background-color: var(--cinza-2);
  }
  #menu li {
    text-align: left;
    margin-bottom: 40px;
    padding-left: 40px;
  }
  #menu li:first-child {
    margin-top: 140px;
  }
  #nav.active #menu {
    height: calc(100vh - 100px);
    visibility: visible;
  }
  #btn-mobile {
    display: flex;
    padding: 4px 10px;
    background: none;
    border: none;
    cursor: pointer;
    gap: 10px;
  }
  #hamburguer {
    display: block;
    border-top: 2px solid black;
    width: 20px;
    z-index: 9999;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: currentColor;
    display: block;
    transition: 0.3s;
    margin-top: 3px;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -5px;
  }
}
